@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand: rgb(203 213 225);
  --color-brand-dark: rgb(15 23 42);
  --color-cta: rgb(253 224 71);
  --color-detail: rgb(248 250 252);
  --color-detail-dark: rgb(30 41 59);
}

body {
  @apply bg-detail text-brand-dark dark:bg-detail-dark dark:text-brand;
}

.note {
  @apply bg-cta py-6 px-8 shadow-lg rounded-sm transition-all max-w-max text-black;
}

.product, .nft {
  @apply bg-brand dark:bg-brand-dark px-8 py-4 shadow-lg rounded transition-all 
    max-w-[440px] justify-between flex flex-col;
}

.link-nav {
  @apply hover:text-black hover:scale-105 dark:hover:text-cta transition-all;
}
